* {
    border: 0;
    padding: 0;
    margin: 0;
}

main {
    width: 90%;
    height: auto;
    margin: auto;
    font-family: "roboto";
}

header {
    width: 100%;
    height: 60px;
    /* background-color: blue; */
    margin-bottom: 5px;
    background-image: url("../imagem/header.jpg");
}

@font-face {
    font-family: roboto;
    src: url(fonte/Roboto/Roboto-Black.ttf);
}

@font-face {
    font-family: roboto-normal;
    src: url(fonte/Roboto/Roboto-Medium.ttf);
}

#logo-links {
    width: 100%;
    height: auto;
}

#LogoDoSite {
    position: relative;
    float: left;
    width: auto;
    height: auto;
    margin-right: 270px;
    padding-left: 105px;
}

/* Estilos gerais */
hr {
    width: 100%;
    height: 2px;
    background-color: #ff4500;
    margin-bottom: 10px;

}

.titulo {
    color: #FF4500;
    font-family: "Roboco", sans-serif;
    font-size: 25px;
    font-weight: bold;
    padding-top: 30px;
    padding-left: 100px;
}


/* MENU */

#linksMenuPrincipal {
    position: relative;
    float: left;
    height: auto;
    padding-top: 20px;
}

#linksMenuPrincipal ul {
    padding: 0;
    line-height: 30px;
}

#linksMenuPrincipal li {
    list-style: none;
    float: left;
    position: relative;

}

#linksMenuPrincipal ul li a {
    text-align: center;
    height: 30px;
    width: 90px;
    display: block;
    color: #FF4500;
    text-decoration: none;
    font-size: 15px;
    /* font-family: "Roboco", sans-serif; */
    font-family: "roboto";
    font-weight: bold;
}

#linksMenuPrincipal ul ul {
    position: absolute;
    visibility: hidden;
    top: 32px;
    background-color: #b79589;
}

#linksMenuPrincipal ul li:hover ul {
    visibility: visible;
    z-index: 9999;
    color: white;
}

#linksMenuPrincipal li:hover {
    transition: all 1s;
    background-color: #FF4500;
}

#linksMenuPrincipal li a:hover {
    color: white;
}

#linksMenuPrincipal ul li:hover ul li a:hover {
    color: rgb(255, 255, 255);
}


/* Perfil */
#perfil {
    width: 100%;
    display: flex;
    justify-content: center;
}



#perfil_container {
    width: auto;
    height: 520px;
    /* background-color: #FF871E; */
    border: #FF871E solid 2px;
    margin-top: 30px;
    /* margin-left: 105px; */
    /* padding: 80px; */
    /* float: left; */
}

#perfil_bg {
    width: 500px;
    height: 100px;
    background-color: orange;
    background-image: url(/imagem/header.jpg);
    /* align-items: center; */
    margin: auto;
    position: relative;

}

#perfil_foto {
    background-image: url(/imagem/icon/perfil-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-color: yellow;
    width: 120px;
    height: 120px;
    border-radius: 70px;
    margin: auto;
    margin-top: -60px;
}

#pefil_nome {
    position: relative;
    width: 400px;
    height: 40px;
    /* background-color: blue; */
    margin: auto;
    padding-top: 5px;
    margin-top: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.perfil_textos {
    position: relative;
    width: 400px;
    /* height: 50px; */
    background-color: rgba(255, 109, 0, 0.6);
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'roboto';
    font-size: 20px;
    color: #fff;
}

#perfil_redesSociais {
    margin: auto;
    /* background-color: blue; */
    width: 400px;
    height: 60px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

#perfil_redesSociais div {

    float: left;
}

#perfil_redesSociais div img {
    width: 60px;
    height: 100%;
    margin: 0 5px;
}

#perfil_acesso {
    /* background-color: blue; */
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#perfil_ra {
    position: relative;
    float: left;
    background-color: #FF4500;
    width: auto;
    height: 20px;
    padding: 5px;
    top: 8px;
}

#perfil_qrcode img {
    position: relative;
    width: 150px;
    height: 150px;
    float: left;
    margin-left: 70px;
}

/* CARTEIRINHA */
#titulo_carterinha {
    width: 500px;
    height: 30px;
    /* background-color: red; */
    float: left;
    position: absolute;
    text-align: center;
    padding: 15px;
    left: 760px;
    font-size: 30px;
}


#carteirinha_container {
    width: 50%;
    height: 520px;
    /* background-color: blue; */
    margin-top: 30px;
    /* margin-left: 105px; */
    /* padding: 80px; */
    float: left;
    display: flex;


}

#carteirinha_frente {
    background-image: url(/imagem/bg_carteirinha.png);
    background-repeat: no-repeat;
    background-size: 180px 200px;
    background-position: bottom right;
    /* position: relative; */
    height: 400px;
    width: 250px;
    border-radius: 10px;
    position: absolute;
    background-color: yellow;
    left: 100px;
    /* margin-right: 20px; */
    top: 250px;
    left: 730px;
    /* margin-top: 90px; */
}



#foto_perfil {
    width: 30px;
    height: 30px;
    /* margin-top: 100px; */
    padding: 20px;
}

#carterinha_nome {
    padding: 5px;
    margin: 10px;
}

#carterinha_nascimento {
    padding: 5px;
    margin: 10px;
}

#carterinha_ra {
    padding: 5px;
    margin: 10px;

}


#container_label {
    position: relative;
    top: 40px;
    padding-left: 10px;
    padding-top: 10px;
}

#carteirinha_verso {
    background-image: url(/imagem/bg_verso.png);
    background-repeat: no-repeat;
    background-size: 180px 200px;
    background-position: center;
    position: absolute;
    height: 400px;
    width: 250px;
    border-radius: 10px;
    background-color: yellow;
    /* margin-left:50px ; */
    float: left;
    left: 1050px;
    /* margin-right: 20px; */
    /* margin-left: 20px; */
    top: 250px;
}

/* SECTION */

#section-formularios {
    /* background-color: blue; */
    width: 100%;
    height: 300px;
    margin-top: 45px;
    margin-left: 40px;
    margin-bottom: 40px;
}

#section-formularios h1 {
    margin-bottom: 30px;
}

.Label {
    margin-left: 85px;
}

.TamanhoFonte {
    font-size: 20px;
}

#NomeCompleto {
    background-color: #FF6E1D;
    border-radius: 5px;
    width: 850px;
    padding: 7px;
    font-size: 15px;
}

#Email {
    background-color: #FF6E1D;
    border-radius: 5px;
    width: 400px;
    padding: 7px;
    font-size: 15px;
    margin-right: 20px;
}

#Senha {
    background-color: #FF6E1D;
    border-radius: 5px;
    width: 443px;
    padding: 7px;
    font-size: 15px;
    margin-right: 20px;
}

#Telefone {
    background-color: #FF6E1D;
    border-radius: 5px;
    width: 370px;
    padding: 7px;
    font-size: 15px;
    margin-right: 20px;
}

#Celular {
    background-color: #FF6E1D;
    border-radius: 5px;
    width: 434px;
    padding: 7px;
    font-size: 15px;
    margin-right: 20px;
}

#formulario-Radio {
    width: 200px;
    height: auto;
    /* background-color: red; */
    float: left;
    margin-right: 370px;
}

#NomeMae {
    background-color: #FF6E1D;
    border-radius: 5px;
    width: 390px;
    padding: 7px;
    font-size: 15px;
    margin-right: 20px;
}

/* SESSAO3 */

#sessao3 {
    /* background-color: red; */
    width: 100%;
    height: auto;
}

.titulos-ModalidadeCursos {
    width: 100%;
    height: auto;
    display: flex;
    
}

.titulos-ModalidadeCursos div {
    width: 50%;
    height: auto;
    padding-left: 200px;
    /* background-color: blue; */
    padding-bottom: 40px;
}

.botoes-ModalidadeCursos{
    /* background-color: red; */
    margin-left: 70px;
    width: 100%;
    height: auto;
    display: flex;
}

.botoes-ModalidadeCursos div{
    width: 50%;
    height: auto;
    /* background-color: blue; */
    margin: 0px 80px;
}

.botoes-ModalidadeCursos input{
    padding: 15px;
    /* background-color: aqua; */
    border-radius: 5px;
    margin: 5px;
}

#botao-1{
    background-color:#6bd1ff ;
}

#botao-2{
    background-color: #dc6ebe;
}

#botao-3{
    background-color: #00c86f;
}

#botao-4{
    background-color:#f16165 ;
}

#botao-5{
    background-color: #ff8c2a;
}

#botao-6{
    background-color: #ffba05;
}

#botao-7{
    background-color: #9cd33b;
}

#botao-8{
    background-color:#6bd1ff ;
}

#botao-9{
    background-color: #dc6ebe;
}

#botao-10{
    background-color: #00c86f;
}

#botao-11{
    background-color:#f16165 ;
}

#botao-12{
    background-color: #ff8c2a;
}

#botao-13{
    background-color: #ffba05;
}

#botao-14{
    background-color: #9cd33b;
}
/* FOOTER */

footer {
    width: 100%;
    height: auto;
    /* background-color: rgba(255, 69, 0, 1); */
    /* text-align: center; */
    margin: auto;
    color: white;
    float: left;
  }
  
  /* DIV A */
  #footerdivA {
    width: 100%;
    background-color: #666;
    color: white;
    height: auto;
    font-size: 15px;
    /* border-bottom: 2px solid black; */
    float: left;
  }
  
  #footerdivA h1 {
    padding: 30px 0px;
    padding-left: 80px;
    float: left;
    font-family: "roboto";
  }
  
  /* DIV B */
  #footerdivB {
    width: 100%;
    height: auto;
    background-color: #666;
    float: left;
    /* padding-top: 30px; */
    /* padding-bottom: 50px; */
  }
  
  /* DIV C */
  #footerdivC {
    width: auto;
    height: auto;
    /* background-color: rgba(255,69,0,1); */
    float: left;
    padding-left: 70px;
    margin-right: 110px;
  }
  
  #footerdivC a {
    background-color: #666;
    width: 100%;
    height: auto;
    display: block;
    text-decoration: none;
    color: white;
    font-family: "roboto-normal";
    margin-bottom: 16px;
  }
  
  #footerdivC a:hover {
    text-decoration: underline;
    color: white;
  }
  
  #footerdivC a:active {
    color: #666;
    background-color: blue;
    transition: 0.5s all;
  }
  
  /* DIV D */
  #footerdivD {
    /* background-color:#666; */
    width: 280px;
    height: 150px;
    float: left;
    margin-right: 310px;
  }
  
  #footerdivD address {
    width: 100%;
    color: white;
    height: auto;
    margin-bottom: 15px;
    /* background-color: rgba(255,69,0,1); */
    float: left;
    display: block;
    font-family: "roboto-normal";
  }
  
  /* DIV E */
  #footerdivE {
    width: auto;
    /* background-color:rgba(255,69,0,1); */
    margin: auto;
    text-align: center;
    color: white;
    padding-top: 35px;
    float: left;
  }
  
  #footerdivE p {
    padding-bottom: 40px;
    font-family: "roboto-normal";
  }
  
  #footerdivF {
    /* background-color: rgba(255,69,0,1); */
    width: 100%;
    height: auto;
    float: left;
  }
  
  .footerdivGHI {
    display: inline-block;
    /* background-color:rgba(255,69,0,1)a; */
    width: 53px;
    height: 62px;
  }
  
  .footerdivGHI img {
    width: 100%;
    height: 100%;
  }
