*{
    border: 0;
    padding: 0;
    margin: 0;
}

main{
    width: 90%;
    height: 600px;
    margin: auto;
    /* background-color: red; */
}
header{
    width: 100%;
    height: 60px;
    /* background-color: blue; */
    background-image:url("/imagem/header.jpg")
  }
  
  #LogoDoSite{
    position: relative;
    
  }
/* Estilos gerais */
  hr{
    width: 100%;
    height: 2px;
    background-color: #ff4500;
    margin-bottom: 10px;

  }

  .titulo{
    color: #FF4500;
    font-family: "Roboco", sans-serif;
    font-size: 25px;
    font-weight: bold;
    padding-top: 30px;
  }


/* MENU */

  #linksMenuPrincipal {
    position: relative;
    left: 550px;
    /* top: -100px; */
    float: left;
    height: auto;
    width: 100%;
    
  }
  
  #linksMenuPrincipal ul { 
    padding:0; 
    line-height:30px; 
  }
  
  #linksMenuPrincipal li { 
    list-style:none; 
    float:left; 
    position:relative;
   
  }
  
  #linksMenuPrincipal ul li a {
    text-align:center; 
    height:30px; 
    width: 90px; 
    display:block;  
    color: #FF4500;
    text-decoration:none;
    font-size: 15px;
    font-family: "Roboco", sans-serif; 
    font-weight: bold;
   
  }
  
  #linksMenuPrincipal ul ul { 
    position:absolute; 
    visibility:hidden;
    top:32px; 
    background-color: #b79589;
     }
  
  #linksMenuPrincipal ul li:hover ul { 
    visibility:visible; 
    z-index:9999; 
    color: white;
  }
  
  #linksMenuPrincipal li:hover { 
    transition: all 1s;
    color: white;
    background-color: #FF4500;
  }
  
  #linksMenuPrincipal ul li:hover ul li a:hover { 
    color:rgb(255, 255, 255);
  }
  br {
    clear:both; 
  }
  
  #linksMenuPrincipal ul li { 
    display: inline;
  
  }
  /* Primeira pagina */

  #page1{
    width: 100%;
    height: 600px;
    background-image: url(/imagem/bg_principal.jpg);
  }

  /* Sobre nós */

 #SobreNos{
    width: 100%;
    height: 600px;
    background-color: rgb(249, 164, 164);
 }
 #SobreNos h1{
    font-size: 50px;
    color: #FF4500;
 }
 #p1{
    width: 20%;
 }
 #p2{
    width: 50%;
 }

 #ImgSN1{
    position: absolute;
    width: 200px;
    height: 400px;
    left: 100px;

 }
 #imgSN1 img{
    width: 100%;
 }
 
  #imgSN2{
    position: absolute;
    width: 200px;
    height: 400px;
    left: 100px;
  }
  
